<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 

.wpcf7-form p:nth-child(1), .wpcf7-form p:nth-child(2) {
  display: inline-block;
}

.wpcf7-text {
  border-radius: 4px !important;
}

.wpcf7-form p:nth-child(4) {
    margin-bottom: 0px !important;
}
</style>
<!-- end Simple Custom CSS and JS -->
