/*
Theme Name: Zelle Lite Child
Theme URL: https://themeisle.com/themes/zerif-lite/
Description: Zelle Lite Child Theme
Author: Nastasha Gimena
Author URL: https://themeisle.com
Template: zerif-lite
Version: 1.0.0
Text Domain: zerif-lite-child
*/

@import url("../zerif-lite/style.css");

.description {
	display: block;
	margin: auto;
}

.form-label {
	float: right;
}

input, textarea {
	float: left;
}